.image{
    width: 260px;
    height: 400px;
    margin-top: 20%;
    padding-top: 0px;
    display: flex;
    margin-top: 0%;
    margin-left: 6%;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    background: #b8a4a4;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-size: contain;
    flex-direction: column;
    position: relative;
  }
  
  .buttons{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }

  .container{
    display: flex;
    flex-direction: row;
    margin-top: 11%;
    width: 280px;
  }

  .rating{
    font-size: large;
    margin-bottom: 8px;
  }

  .box{
    display: flex;
    flex-direction: row;
  }