.navbar-container{
    top: 0%;
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background: #5b295d;
    text-align: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    
}

.logo-mom-container{
   max-width: 105px;
   max-height: 80px;
}

.logo-mom{
    width: 100%;
    height: 100%;
}

.navbar-name{ 
    width: 235px;
    margin-left: 450px;
}

.name-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: column;
}

.navbar-order{
    width: 100px;
    margin-left: 220px;
}

.order-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar-profile{
    width: 100px;
    margin-left: 50px;
}

.profile-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar-about{
    width: 100px;
    margin-left: 50px;
}

.about-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar-container-two{
    width: 100%;
    height: 65px;
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background: rgb(42, 0, 55);
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    
}

.navbar-mugs{
    width: 50px;
    margin-left: 25px;
}

.mugs-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar-keychains{
    width: 90px;
    margin-left: 25px;
}

.keychains-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar-action-figures{
    width: 138px;
    margin-left: 25px;
}

.action-figures-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}


.navbar-misc{
    width: 125px;
    margin-left: 25px;
}

.misc-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar-search{
    width: 220px;
    margin-left: 60px;
    text-align: center;
    align-items: center;
}

.search-mom{
    width: fit-content;
    margin-left: 40px;
    color: white;
    text-align: center;
}

.navbar-login{
    width: 55px;
    margin-left: 255px;
}

.login-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}


.navbar-register{
    width: 75px;
    margin-left: 80px;
}

.register-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar-cart{
    width: 50px;
    margin-left: 80px;
}

.cart-mom{
    width: fit-content;
    align-items: center;
    color: white;
    text-align: center;
}

