.login{
    position: fixed;
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    margin-left: 37.5%;
    margin-top: 11%;
    padding-top: 2%;

    text-align: center;
    background: hsl(183, 49%, 35%);
    /* background-image: url("https://i.pinimg.com/564x/af/90/6f/af906f0aa44e5cde4cdceb6ce61a0a9c.jpg"); */
    align-items: center;
    background-size: cover;

}

.fg-password{
    color: red;
}