.register{
    position: fixed;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    margin-left: 35%;
    margin-top: 12%;
    padding-top: 2%;
    background: hsl(183, 49%, 35%);
    text-align: center;
    background: fill;
    align-items: center;
}